.row {
  margin-top: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 80%;
  min-width: 70vw;
  min-height: 80vh;
  background-color: #e5e5e5;
  background-image: radial-gradient(rgba(20, 33, 61, 0.25) 1px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px;
  padding: 40px;
  border-radius: 20px;
  margin: 10px auto;
  font-weight: 600;
}
.section {
  width: 90%;
}
.close-overview {
  width: 200px;
  height: 50px;
}
