* {
  font-family: monospace;
}
.list-container {
  min-width: 70vw;
  min-height: 80vh;
  background-color: #e5e5e5;
  background-image: radial-gradient(rgba(20, 33, 61, 0.25) 1px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px;
  padding: 40px;
  border-radius: 20px;
  margin: 10px auto;
  font-weight: 600;
}

.budget-title {
  font-size: 1.4rem;
}

.budget-input {
  width: 20vw;
  height: 25px;
  border-radius: 5px;
  border: 2px solid #14213d;
  background-color: #a3ff23;
  box-shadow: 4px 2px #14213d;
  font-size: 1.2rem;
  font-weight: 600;
  color: #14213d;
  padding: 5px 10px;
  margin: 15px 0px;
}

.input-data:focus {
  color: #14213d;
  background-color: #f3f3f3;
  box-shadow: -2px -2px 2px #14213d;
  transition: 0.1s;
  transition-property: box-shadow;
}

.input-data {
  width: 25vw;
  height: 40px;
  border-radius: 0.4em;
  border: 3px solid #14213d;
  background-color: #ffffff;
  box-shadow: 4px 2px #14213d;
  font-size: 1.2rem;
  font-weight: 600;
  color: #14213d;
  padding: 5px 10px;
  margin-top: 10px;
  outline: none;
}

.data-insert {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/**/
button {
  font-size: 1.2rem;
  color: white;
  background-color: #fca311;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 4px 2px #14213d;
  font-weight: 900;
  border: 3px solid black;
  border-radius: 0.4em;
}
button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
  background-color: #14213d;
}

table {
  background: #012b39;
  border-radius: 0.3em;
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
  padding: 5px;
}

th {
  border-bottom: 1px solid #364043;
  color: #e2b842;
  font-size: 1.2em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}

td {
  border-bottom: 1px solid #364043;
  color: #fff;
  font-weight: 400;
  padding: 1em 1em;
  font-size: 1.2em;
}

.disabled td {
  color: #4f5f64;
}

tbody tr {
  transition: background 0.25s ease;
}

tbody tr:hover {
  background: #014055;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.edit-input {
  width: 100px;
  border-radius: 5px;
  padding: 3px;
}

.form-btn {
  margin: 10px;
  width: 100px;
  height: 40px;
}
.page-btn {
  margin: 10px;
  height: 40px;
}

.budget-normal {
  color: rgb(2, 243, 22);
  text-shadow: 2px 2px 10px rgb(1, 120, 11);
}

.budget-warning-50 {
  color: rgba(11, 236, 206, 0.589);
}

.budget-warning-20 {
  color: rgb(0, 149, 255);
}

.budget-negative {
  color: rgb(255, 16, 16);
  text-shadow: 2px 2px 5px red;
}

@media screen and (max-width: 768px) {
  table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
    white-space: nowrap;
  }

  th,
  td {
    min-width: 120px;
    padding: 8px;
  }

  thead {
    display: none;
  }

  tbody {
    display: block;
  }

  tbody tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  tbody td:before {
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  tbody td {
    display: block;
    text-align: left;
  }

  tbody td:last-child {
    text-align: left;
  }
}

.bottom-btn-box {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  text-align: center;
}
.animate-charcter {
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.strong-text {
  font-size: 30px;
}
